.expense-title {
    font-size: 32px !important;
}

/* #expenses-chart {
    max-height: 650px;
} */

table.expenses-list {
    width: 100%;
    border-spacing: 15px;
}

table.expenses-list thead {

}

table.expenses-list tbody tr {
    
}

table.expenses-list tbody tr td.expense-item-date {
    color: rgba(0,0,0,0.60);
    text-align: center;
}

table.expenses-list tbody tr td.expense-item-name span {
    font-size: 12px;
}

table.expenses-list tbody tr td.expense-item-value {
    color:  #f24331;
    text-align: center;
}

.add-transaction.expense {
    background-color: #f24331;
}