@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    border: 0;
    padding: 0;
    margin: 0;
}

body{
    background-color: #DDD;
    font-family: 'Roboto', sans-serif;
}

button:focus {
    outline: none;
}

.row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.inner{
    margin-left: 90px;
    margin-top: 73px;
}

.header{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 60px;
    background-color: #ffffff;
    border-bottom: 3px solid #b5b5b5;
}


.sidemenu{
    position:absolute;
    top:63px;
    left:0;
    height: calc(100vh - 63px);
    background-color: #f5f5f5;
}
.sidemenu .sidemenu-options {
    list-style: none;
}
.sidemenu .sidemenu-options .item {
    margin: 10px 0;
}
.sidemenu .sidemenu-options .item a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 10px 7px;
    color: #ccc;
}
.sidemenu .sidemenu-options .item.active a {
    color: #334ca5;
}
.sidemenu .sidemenu-options .item a i {
    font-size: 18px;
}

