@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    border: 0;
    padding: 0;
    margin: 0;
}

body{
    background-color: #DDD;
    font-family: 'Roboto', sans-serif;
}

button {
    border: none;
    border-color: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
button:focus {
    outline: none;
}

.row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.inner{
    margin-left: 90px;
    margin-top: 73px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    flex: 1;
    margin: 10px;
    min-width: 45%;
    border-radius: 15px;
    background-color: #ffffff;
    padding: 10px;
}
.card .card-title {
    font-weight: bold;
    font-size: 14px;
}
.add-transaction {
    position: absolute;
    right: 10px;
    bottom: 30px;
    background-color: #2061bd;
    /* padding: 17px 18px; */
    border-radius: 50%;
    color: #FFF;
    font-size: 14px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}