<div class="container"> 
  <header></header>
  <sidemenu></sidemenu>
  <div class="inner">
    <div class="row">
      <minicard title="Saldo Atual" value="{{ revenueSum - expenseSum }}" type="balance" [iconName]="faLandmark" style="flex: 1"></minicard>
      <minicard title="Receitas" [value]="revenueSum" type="revenue" [iconName]="faHandHoldingUsd" style="flex: 1"></minicard>
      <minicard title="Despesas" [value]="expenseSum" type="expense" [iconName]="faReceipt" style="flex: 1"></minicard>
      <minicard title="Balanço" value="0" type="profit" [iconName]="faPiggyBank" style="flex: 1"></minicard>
    </div>
    <div class="row">
      <div class="card">
          <label class="card-title">Despesas do mês</label>
      </div>
      <div class="card">
          <label class="card-title">Receitas do mês</label>
      </div>
      <div class="card">
          <label class="card-title">Receitas x Despesas dos últimos 6 meses</label>
      </div>
      <div class="card">
          <label class="card-title">Frequência de gastos</label>
      </div>
    </div>
    <button class="add-transaction" (click)="setTransacOptionsVisible()">
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>
    <button-add-transac [iconName]="faHandHoldingUsd" [classVisible]="classTransacOptionsVisible" classType="revenue" (onClick)="setRevenueModalVisible(true)"></button-add-transac>
    <button-add-transac [iconName]="faReceipt" [classVisible]="classTransacOptionsVisible" classType="expense" (onClick)="setExpenseModalVisible(true)"></button-add-transac>
    
    <add-expense-modal [isVisible]="expenseModalVisible" (setVisible)="setExpenseModalVisible($event)" (addExpenseCallback)="addExpense($event)"></add-expense-modal>
    <add-revenue-modal [isVisible]="revenueModalVisible" (setVisible)="setRevenueModalVisible($event)" (addRevenueCallback)="addRevenue($event)"></add-revenue-modal>
  </div>
</div>