@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	border: 0;
	padding: 0;
	margin: 0;
}
body{
	background-color: #DDD;
	font-family: 'Roboto', sans-serif;
}
button:focus {
	outline: none;
}
.row{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}
.inner{
	margin-left: 90px;
	margin-top: 73px;
}